# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDEs and Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
MARL_Tests/
QMIX_Training/
thesis_pictures/
Evaluation Structure Breakdown.md
performance_assert_test.py.lprof
ReadME for the models.md
